<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/general.css">
</head>

<body>
    <main class="site-wrap ">

        <h1 id="mainTitle"></h1>
    </main>
    <!-- importación de archivos js -->
    <!-- llamada de framework y librería de mensajes -->
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- llama el controlador de la aplicación -->
    <script src="../../controllers/utils/components.js"></script>
    <!-- llama al controlador del sitio privado -->
    <script src="../../controllers/utils/admin.js"></script>
    <!-- llama al controlador de la pagina web -->
    <script src="../../controllers/admin/inicio.js"></script>
</body>

</html>